<!-- really bad practice to add br but usefull when in a rush -->
<br><br>
<h1>Quizzes Lists:</h1>
<a routerLink="/new-quiz"><button type="button" class="btn btn-primary">+ New Quiz</button></a>&nbsp;
<div *ngIf="loadQuizzes" class="spinner-border text-primary spinner-border-sm" role="status">
  <span class="visually-hidden">Loading...</span>
</div>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">Name</th>
			<th scope="col">Description</th>
			<th scope="col">Questions</th>
			<th scope="col">Action</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let quiz of quizzesList; index as i">
			<th scope="row">{{ quiz.name }}</th>
			<td>
				{{ quiz.description }}
			</td>
			<td>{{ quiz.description }}</td>
			<td>
        <a routerLink="/new-quiz" class="btn btn-outline-primary btn-sm"><i class="bi bi-pencil-square"></i></a>&nbsp;
        <a (click)="deleteQuizzes(quiz.id)" class="btn btn-outline-danger btn-sm"><i class="bi bi-trash3"></i></a>
      </td>
		</tr>
	</tbody>
</table>