<form [formGroup]="quizForm" (ngSubmit)="submitQuiz()" style="margin:5%; padding:2%;border: 2px solid #E4E5E6 ;">
  <div class="row" >
    <h1>New Quiz</h1>
    <div class="form-group col">
      <label for="name">Name: </label>
      <input class="form-control" id="name" type="text" formControlName="name">
    </div>
    <div class="form-group col">
      <label for="description">Description: </label>
      <input class="form-control" id="description" type="text" formControlName="description">
    </div>
  </div>
  <br>
  <div formArrayName="questions">
    <h3>Questions:</h3>
    <br>
    <button class="btn btn-outline-primary btn-sm" type="button" (click)="addQuestions()">+ Add another questions</button>
  
    <div *ngFor="let question of questions().controls; let questionIndex=index">
      <ng-container class="row" [formGroupName]="questionIndex">
        <p align="right">
          <button class="btn btn-warning btn-sm" type="submit" (click)="removeQuestion(questionIndex)" >Cancel</button>
        </p>
        <p>Question-{{questionIndex+1}}:</p>
        <div class="row" >
          <div class="form-group col-md-8">
            <label for="content">Content: </label>
            <input class="form-control" id="content" type="text" formControlName="content">
          </div>
        
          <div class="form-group col-md-4">
            <label for="coefficient">Coefficient: </label>
            <input class="form-control" id="coefficient" type="number" formControlName="coefficient">
          </div>
        </div>
        <br>
        <div formArrayName="answers">
          <button class="btn btn-outline-info btn-sm" type="button" (click)="addAnswers(questionIndex)">+ Add answers</button>
            <div class="row" *ngFor="let answers of questionAnswers(questionIndex).controls; let answerIndex=index" [formGroupName]="answerIndex">
              <p>Question-{{questionIndex+1}}-Answer-{{answerIndex+1}}:</p>
              <div class="row align-items-center" >        
                <div class="form-group col-sm-8 my-1">
                  <label for="title">Answer: </label>
                  <input class="form-control" id="title" type="text" formControlName="title">
                </div>
                <div class="col-auto my-1" style="margin-top:25px !important;">
                  <input type="checkbox" class="form-check-input" id="correct_answer" formControlName="correct_answer">
                  <label class="form-check-label" for="exampleCheck1">&ensp;Correct</label>
                </div>
              </div>
            </div>
        </div>
        <hr>
      </ng-container>
    </div>
    <br>
  </div>
  <div class="form-group">
    <br>
    <button class="btn btn-primary" type="submit" >Submit</button>
  </div>
</form>
